<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DatabaseAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DatabaseAdapterTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PostgreSQLAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SQLite3Adapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6632FB001C762F9300301E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6632FB091C762F9300301E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3ECB21C4158BC0023D885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3ECBC1C4158BC0023D885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3ECDA1C415A260023D885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3ECE31C415A260023D885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66CEDF811C45519C0024C85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
